<h1>Welcome... I predicted your arrival...</h1>
<div>
    <a href="/fortune">Click Here to Get Your Fortune</a>
</div>
<div class="full align-items-center">
    <img class="w-6/12  align-self-center" src="/images/shop-teller.png">

</div>